:root {
    --stormWhite: rgb(201,208,208); 
    --stormLightGreen: rgb(122,177,167);
    --stormDarkGreen: rgb(67,103,104);
    --stormLightBlack: rgb(7,34,42);
    --stormDarkBlack: rgb(8,21,30);
}

body{
    background-color: var(--stormDarkBlack);
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.title {
    color: var(--stormLightGreen); 
    font-size: 90px;
    align-self: center;
}

.content {
    display: flex; 
    justify-content: space-between;
    color: var(--stormDarkGreen);
    margin-top: 275px;
}

.right-side {
    font-size: 30px;
    margin-left: 30px;
}

.right-side-number {
    text-align: center;
    color: var(--stormWhite); 
}

.middle {
    font-size: 60px;
}

.left-side {
    margin-right: 30px;
    font-size: 30px
}

.left-side-number {
    text-align: center;
    color: var(--stormWhite);
}

.buttons {
    align-self: center;
    margin-top: 150px;
    display: flex;
    gap: 45px;
}

.rock-button,
.paper-button,
.scissor-button {
    font-size: 45px;
    background-color: var(--stormLightBlack);
    color: var(--stormLightGreen);
    padding: 18px;
}

.rock-button:hover,
.paper-button:hover,
.scissor-button:hover {
    color: var(--stormWhite);
    background-color: var(--stormDarkBlack);
    transition: 0.4s;
}